body{
    background-color: lightgray;
}

.mateus{
  margin-top: 13%;
  box-shadow: 10px 10px 10px 5px gray;
  width:40rem; 
  margin-left: 30%;
  }
  
.text-align{
    text-align: center;
}

.esqueceu{
    
    margin-right: auto;
}


a:link {
    color: green;
    text-decoration: none;
  }
  
  /*Link já visitado*/
  a:visited {
    color: blue;
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover {
    color: pink;
    text-decoration: none;
  }
  
  /*Link ativo/selecionado*/
  a:active {
    color: yellow;
    text-decoration: none;
  }

